/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/

[data-elm-hot="true"] {
  height: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
  color:black;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #e3e4e6;
  color: slategray;
}

.explanation {
  margin: 20px;
  padding: 20px;
  min-height: 100px;
  background-color: rgb(135, 206, 250);
  border-radius: 10px;
  color: slategray;
}

@media screen and (min-width: 40em) {
  .mycard {
     max-width: calc(50% -  1em);
  }
}

@media screen and (min-width: 60em) {
  .mycard {
      max-width: calc(25% - 1em);
  }
}

.chart-cards {
  display: flex;
  flex-wrap: wrap;
  float: center;
}

.chartcard {
  flex: 1 0 500px;
  margin: 1rem .25em;
  background-color: white;
  padding: 50px;
  padding-bottom: 200px;
  min-height: 400px;
  min-width: 600px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  border-radius: 15px;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.main-cards {
  column-count: 2;
  column-gap: 20px;
  margin: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #4266af;
  color: white;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(black, 0.2);
}

.overviewcard:hover {
  background: var(--page-header-bgColor-hover);
  color: var(--blue);
  outline: none;
  cursor: pointer;
}

.card h2 {
  text-align: center;
}

.card {
  background-color: white;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  min-height: 400px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  border-radius: 15px;
}
  
.modal {
  background-color: white;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  margin-left: 5%;
  margin-top: 3%;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  overflow: auto;
  border:rgba(0, 0, 0, .07);
}

.modal .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
  color:black;
  margin-bottom: 50px;
}

.modal h1{
  margin-left: 25px;
  margin-top: 25px;
}

.modal h2,h3,h4{
  margin-top: 25px;
  margin-bottom: 25px;
}

.modal .body {
  margin: 25px;
}

.card:first-child {
}

.card:last-child {

}

input {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

input:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #4266af,#fff);
  border-image-slice: 1;
}

.responsive-table li {
  border-radius: 5px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.responsive-table a{
  color:rgb(135, 206, 250)
}

.responsive-table  .table-header {
  background-color: #4266af;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.responsive-table  .table-row {
  background-color: white;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.responsive-table  .col-1 {
  flex-basis: 33%;
}
.responsive-table  .col-2 {
  flex-basis: 33%;
}
.responsive-table .col-3 {
  flex-basis: 33%;
}

/* Force varying heights to simulate dynamic content */
.graph-node{
  transition: all 0.3s linear;
  transform: scale(1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.graph-node:hover {
  transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  font-weight: 500;
  filter: drop-shadow(0.5px 0.5px 1px rgba(50, 50, 93, .5));
}

.noselect{
  -webkit-user-select: none;       
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.button-special {
  appearance: button;
  backface-visibility: hidden;
  background-color: rgb(66, 102, 175);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  height: 45px;
  margin-left: 12px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
}

.button-special:disabled {
  cursor: default;
}

.button-special:hover {
  background-color: #0d1d3f;
  opacity:0.9
}

.button-special-selected {
  background-color: #0d1d3f;
  opacity: 0.9
}

.navHeader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 20px;
  width: var(--page-header-width);
  color: var(--page-header-txtColor);
  background: var(--page-header-bgColor);
}

.navHeader nav{
  display: flex;
  flex-direction: column;
  min-height: 90%;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 35px;
}

/* .menu li:last-child {
  margin-top: auto;
  margin-bottom: 20px;
} */

.menu .credits{
  margin-top: auto;
  margin-bottom: 20px;
}

.menu li > * {
  width: 100%;
  padding: 12px 15px;
}

.menu .menu-heading h3 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  margin-top: 12px;
  color: var(--page-header-headingColor);
}

.menu span {
  padding-right: 5px;
}

.menu a,
.menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}


.logo{
  width: 150px;
  height: 49px;
}

.menu a:hover,
/* .menu a:focus, */
.menu button:hover,
.menu .selected {
  background: var(--page-header-bgColor-hover);
  color: var(--blue);
  outline: none;
}

.dashboard {
  position: relative;
  margin-left: var(--page-header-width);
  min-height: 100vh;
  padding: 30px;
  color: var(--page-content-txtColor);
  background: var(--page-content-bgColor);  
  /* grid-template-columns: 0.8fr 1fr 1fr 1fr; */
  /* grid-template-rows: 0.2fr 3fr; */
}


::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(135, 206, 250);
  border-radius: 2px;
	-webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}




h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}



pre{
  white-space: pre-wrap;
}

/* 
.page-content .grid > article:first-child,
.page-content .grid > article:last-child {
  grid-column: 1 / -1;
} */

.subtext {
  color: grey;
  text-align: center;
}

.bold {
  font-weight: bold;
}

:root {
  /* --page-header-bgColor: #242e42; */
  --page-header-bgColor:  #4266af;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  /* --page-header-headingColor: #7889a4; */
  --page-header-headingColor: #dbdee2;
  --page-header-width: 220px;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --white: #fff;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  --switch-bgLightModeColor: #87cefa;
  --switch-sunColor: gold;
  --switch-moonColor: #f4f4f4;
  --switch-bgDarkModeColor: #1f1f27;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

hr {
  width: 60%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

/* input {
  -webkit-appearance: none;
} */

label {
  cursor: pointer;
}

button{
  border: none;
}

svg {
  display: block;
}

body {
  font: 16px/1.5 "Lato", sans-serif;
}

hr {
  margin: 12px 0;
  text-align: center;
}